.pokemon_card{
    border: 1px solid blue;
    border-radius: 0.25rem;
    display: block;
}

.details_card{
    border-radius: 0.25rem;
    background-color: azure;
    border-top: 1px solid blue;
}

.details_image{
    border-radius: 100%;
}

.details_image:hover{
    background-color: white;
}

.list_details{
    background:#16325c;
    border-radius: 1rem;
}